VITE_ZABBIX_MODE=mock
VITE_ZABBIX_API_URL=http://172.28.20.190/zabbix/api_jsonrpc.php
VITE_ZABBIX_TOKEN=
VITE_ZABBIX_REFRESH_SECONDS=15
VITE_USE_ZABBIX_PROXY=false

# Si hay CORS, use:
# VITE_USE_ZABBIX_PROXY=true
# VITE_ZABBIX_API_URL=/zabbix-api/zabbix/api_jsonrpc.php
